body{
background-image:url('img1.jpg');
background-repeat:no-repeat;
background-attachment: fixed;
background-size:cover;
}
h1{
text-align: center;
color:rgb(190, 29, 29);
}
.myDiv1
{
    text-align: left;
}
.myDiv2
{  
    text-align:right;
}